* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./assets/halter.jpg);
    background-size: cover; 
}

.conteiner{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(0, 236, 0, 0.2);
    backdrop-filter: blur(23px);
    box-shadow: 0 0 10px rgba(1, 247, 54, 0.2);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
}

.conteiner h1{
    font-size: 30px;
    text-align: center;
}

.conteiner .input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0px;
}

.div

.material-icons.md-18{
    color: white;
    font-size: 2em;
    padding: 5px;
    width: 10px;
    height: 5px;

}
.input-box {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(7, 202, 66, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box::placeholder {
    color: #fff;
}
.conteiner .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;

}
.remember-forgot a {
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.conteiner .btn {
    width: 100%;
    height: 45px;
    background: #03ca0d;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: 600;
}

h1{
    color: rgb(0, 238, 139); text-align: center; 
    background-color: transparent; 
    box-shadow:transparent;
    box-sizing: border-box; 
    justify-content: center; 
    align-items: center; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    color: white; text-align: center; background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
