@media screen and (min-width: 600px) and (max-width: 768px){
    body{
        background-image: url(./assets/halter.jpg);
    }

    section#conteiner{
    width: 80vw;
    }
    section#conteiner > div#input{
    float: left;
    width: 30%;
    height: 100%;
    }
    section#conteiner > div#box-icon{
    float: right;
    width: 70%;
    }
}